.card-container {
   display: flex;
   gap: 10%;
   margin-top: 10%;

   .card {
      max-width: 50%;
      width: 100%;
      font-size: 250%;
   }
}

.profilePicture {
   border-radius: 15px;
   width: 100%;
   max-width: 600px;
   
}

.pictureContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   margin: 0 20px 20px 0;
   position: absolute;
   left: 60%;
   max-width: 550px;
}

.paragraph-about {
   font-size: calc(10px + 50%)
}

.text-zone {
   position: absolute;
   left: 10%;
   top: 50%;
   transform: translateY(-50%);
   width: 35%;
   vertical-align: middle;
   display: table-cell;
   max-height: 90%;
}

.pictureContainerMobile {
   display: none;
}

@media (max-width: 768px) {
   .pictureContainer {
      display: none
   }

   .paragraph-about {
      font-size: 12px;
   }

}


